---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import DropDown from "../components/DropDown.astro";
---

<Layout Title="Events">
  <section class="upcomingEvents">
    <h1>Upcoming Events</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor
      ligula vel sem molestie convallis. Aliquam quam dolor, hendrerit quis
      imperdiet nec, lacinia in nunc.
    </p>
    <!-- cards -->
    <div id="cardsContainer">
      <Card
        Link="single.html"
        Header="Event title"
        Date="22/04/2025"
        Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor ligula vel sem molestie convallis. Aliquam quam dolor, hendrerit quis imperdiet nec, lacinia in nunc."
      />
      <Card
        Link=""
        Header="Event title"
        Date="22/04/2025"
        Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor ligula vel sem molestie convallis. Aliquam quam dolor, hendrerit quis imperdiet nec, lacinia in nunc."
      />
      <Card
        Link=""
        Header="Event title"
        Date="22/04/2025"
        Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor ligula vel sem molestie convallis. Aliquam quam dolor, hendrerit quis imperdiet nec, lacinia in nunc."
      />
    </div>
    <Button Link="" Text="Load More" Type="one" />
  </section>

  <img src="https://cataas.com/cat" alt="" />
  <section class="whatWeOffer">
    <h2>hvad tilbyder vi?</h2>
    <!-- drop downs -->
    <div class="aboutUs">
      <DropDown Type="red" Heading="Vejledning" Id="1">
        <p>
          Sidder du med et projekt/eller forløb, hvor I skal tænke cirkulært? Er
          du i tvivl om, hvordan du designer dine produkter, så de er optimeret
          til cirkulære forretningsmodeller? Så kom ned i labbet og få råd og
          vejledning til dit projekt.
        </p>
        <p>
          Vi hjælper både med materialer, design, forretningsmodeller,
          strategier og alt der skal til for at skabe den bedste cirkularitet –
          er du i tvivl om vi kan hjælpe med netop din udfordring, så kom forbi
          og lad os undersøge det sammen.
        </p>
        <p>
          Vejledning i labbet er muligt i de bemandede åbningstider
          <a href="">(se kalender)</a> eller send en mail til lab manager
          <a href=""> Nikolaj Storm på circular@kea.dk</a>
          og book en tid.
        </p>
      </DropDown>
      <DropDown Type="white" Heading="Skills" Id="2">
        <p>
          Cirkularitet handler om nye forretningsmuligheder – men kræver også
          mange værktøjer som reparation, opgraderinger, redesigns og meget
          mere. Vi afholder løbende workshops med forskellige temaer, hvor vi
          træner cirkulære skills.
        </p>
        <p>
          Vores workshops er åbne for alle og derfor også en mulighed for at
          udvide dit cirkulære netværk, men også at få tilegnet nye færdigheder,
          der måske ligger uden for dit programområde.
        </p>
        <p>
          <a href=""> Hold dig opdateret i kalenderen </a>
          med de nyeste events i den kommende fremtid.
        </p>
      </DropDown>

      <DropDown Type="red" Heading="Ivaeksaetteri" Id="3">
        <p>
          Er du iværksætter med din egen virksomhed, eller en del af KEAs
          Startup Hub, og ønsker at undersøge mulighederne for at gøre din
          virksomhed cirkulær i tråd med ny lovgivning – så book en coaching med
          Cirkulær lab manager
          <a href=""> Nikolaj Storm (circular@kea.dk). </a>
        </p>
        <p>
          Sammen kan vi analysere virksomheden og du kan få værktøjer og
          indsigter i, hvordan du kan planlægge din cirkulære transition på
          sigt.
        </p>
      </DropDown>

      <DropDown Type="white" Heading="Workshop" Id="4">
        <p>
          Er du underviser og har brug for et cirkulært indspark i et forløb
          eller crash course for dine studerende uanset programområde? Er I en
          gruppe studerende, der ønsker at øge jeres kendskab til cirkularitet
          og cirkulære forretningsmodeller? Så har vi mulighederne til jer.
        </p>
        <p>
          Circular Lab har forskellige workshops baseret på materiale fra
          Regndans, Ellen McArthur Foundation og Dansk Design Center. Vi kan
          facilitere workshops inden for mange forskellige områder tilknyttet
          cirkularitet og vi kan skræddersy workshops og foredrag specielt til
          jeres undervisning/programområde – så både studerende og undervisere
          bliver klædt godt på til en cirkulær fremtid.
        </p>
      </DropDown>

      <DropDown Type="red" Heading="Foredrag" Id="5">
        <p>
          Der sker rigtig meget inden for cirkularitet netop nu. Derfor holder
          vi også løbende foredrag og events med relevante aktører fra
          brancherne, så både studerende og medarbejdere kan få et indblik i,
          hvordan vi arbejder med cirkularitet i praksis. Bliv inspireret på
          tværs af brancher – sådan kan vi få nye ideer og skabe nye sammenhænge
          til flere cirkulære modeller.
        </p>
        <p>
          Har du en spændende tale,r du gerne vil have forbi? Så kom forbi og
          snak med os i labbet og lad os se, hvad vi kan gøre.
        </p>
        <p>
          <a href=""> Hold dig opdateret i kalenderen </a>

          for kommende foredrag i labbet.
        </p>
      </DropDown>

      <DropDown Type="white" Heading="Forskning" Id="6">
        <p>
          Hos Circular Lab holder vi os opdaterede på den nyeste forskning inden
          for cirkularitet. Mange virksomheder og brancher er netop i gang med
          at implementere forskellige cirkulære forretningsmodeller, og vi
          følger med for at kunne guide jer til de bedste løsninger netop nu.
        </p>
        <p>
          Så har du brug for den nyeste viden eller savner du noget forskning
          netop indenfor dit felt? Så kom forbi labbet og hør nærmere.
        </p>
      </DropDown>
    </div>

    <p>
      Har du/I allerede nu spørgsmål omkring cirkularitet, eller har du/I jeres
      eget cirkulære tiltag, I ønsker at teste af i labbet eller har du/I input
      til aktiviteter i labbet, kan du/I altid kontakte os på 
      <a href=""> circular@kea.dk.</a>
    </p>
  </section>

  <style>
    @media (min-width: 801px) {
      #cardsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .aboutUs {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
      }
    }
    .whatWeOffer,
    #cardsContainer {
      max-width: 1034px;
      margin: 0 auto;
    }
    .aboutUs {
      display: grid;
      gap: 20px;
    }
    .upcomingEvents {
      background-color: var(--blue);
      color: white;
    }
    img {
      width: 100%;
      height: 40vw;
      object-fit: cover;
      max-height: 300px;
    }

    a {
      text-decoration: none;
      color: var(--orange);
    }

    @media (min-width: 801px) {
      #1,
      #5 {
        grid-column: 1/5;
      }
    }
  </style>
</Layout>
