---
const Date = Astro.props.Date;
const Header = Astro.props.Header;
const Description = Astro.props.Description;
const Link = Astro.props.Link;
---

<div>
  <a href={Link}>
    <h2>{Header}</h2>
    <h3>{Date}</h3>
    <p>
      {Description}
    </p>
  </a>
</div>
<style>
  h2 {
    text-align: left;
  }
  h3 {
    font-size: 32px;
    place-self: center;
    padding: 10px;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
  }
  div {
    background-color: var(--white);
    margin: 20px;
    padding: 20px;
    min-height: 400px;
    border-radius: 20px;
    transition: var(--transition);
  }

  a {
    text-decoration: none;
    color: var(--black);
  }
  div:hover {
    background-color: var(--dark);
    transition: var(--transition);
  }
  div:hover a {
    color: var(--white);
  }
</style>
