---
const Type = Astro.props.Type;
const Id = Astro.props.Id;
const Heading = Astro.props.Heading;
---

<div class="dropDownContainer" id={Id}>
  <h3 class={Type}>{Heading}</h3>
  <div class="dropDownContent">
    <slot />
  </div>
</div>

<style>
  .red {
    place-self: center;
    padding: 10px;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
  }
  .white {
    place-self: center;
    padding: 10px;
    background-color: white;
    color: black;
    text-transform: uppercase;
  }
  .dropDownContainer {
    grid-row: span 4;
    background-color: #003b5c26;
    border-radius: 20px;
    padding: 20px;
    display: grid;
  }
  h3 {
    font-family: GT-Walsheim;
  }
  .dropDownContent {
    padding: 20px 0px;
    display: none;
  }
  .active {
    display: block;
  }

  @media (min-width: 801px) {
    .dropDownContainer {
      grid-template-rows: subgrid;
      height: 100%;
    }
  }
</style>
<script define:vars={{ Id }}>
  console.log(Id);

  document.querySelector("#" + Id).addEventListener("click", toggleDropDown);
  function toggleDropDown() {
    document
      .querySelector("#" + Id + " .dropDownContent")
      .classList.toggle("active");
    console.log("erfkln");
    console.log(
      document.querySelector("#" + Id + " .dropDownContent").classList,
    );
  }
</script>
