---
const Type = Astro.props.Type;
const Id = Astro.props.Id;
const Heading = Astro.props.Heading;
---

<div class="dropDown_Container" id={Id}>
  <h3 class={Type}>{Heading}</h3>
  <div class="dropdown">
    <slot />
  </div>
</div>
<style>
  .red {
    place-self: center;
    padding: 10px;
    background-color: var(--red);
    color: white;
    text-transform: uppercase;
  }
  .white {
    place-self: center;
    padding: 10px;
    background-color: white;
    color: black;
    text-transform: uppercase;
  }
  .dropDown_Container {
    grid-row: span 4;
    background-color: #003b5c26;
    border-radius: 20px;
    padding: 20px;
    display: grid;
  }
  h3 {
    font-family: GT-Walsheim;
  }
  .dropdown {
    /* display: none; */
    padding: 20px 0px;
  }
  .active {
    display: block;
  }

  @media (min-width: 801px) {
    .dropDown_Container {
      grid-template-rows: subgrid;
      height: 500px;
    }
  }
</style>
<script></script>
