---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";

const Title = Astro.props.Title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://cataas.com/cat" />
    <meta name="generator" content={Astro.generator} />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Lao:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />

    <title>{Title}</title>
    <!-- <script>
      const url =
        "https://ufptkqkooxsifybuvhqa.supabase.co/rest/v1/Circular%20Lab%20Events";
      const key =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmcHRrcWtvb3hzaWZ5YnV2aHFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjg3MzcsImV4cCI6MjA1OTg0NDczN30.vww89uRuhls0B28ao0Z4OCfxZUGLDN1vbA3sysStrOg";

      const options = {
        headers: {
          apikey: key,
        },
      };

      const data = await fetch(url, options).then((res) => {
        return res.json();
      });

      console.log(data);

      const formatDate = (dateString) =>
        new Date(dateString).toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "numeric",
        });
      console.log(formatDate(data[0].event_date));
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
